# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Node modules
node_modules

# Compiled output
dist
build
dist-ssr

# Local environment files
*.local

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tests
/coverage
/.nyc_output

# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# dotenv environment variable files
.*env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Temp directories
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
