.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
/* --------- Header --------- */
.header__container {
    border-bottom: 2px solid gray;
    background: #f1f1f1;
}
.header {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}
.header__logo {
    font-size: 30px;
    font-weight: 800;
    color: #5A5A72;
    text-decoration: none;
}
.header__nav {
    display: flex;
    align-items: center;
    gap: 30px;
}
.header__link {  
    color: #666;
    display: inline-block;
    background-image: linear-gradient(#5A5A72, #5A5A72);
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition: background-size 0.3s;
    padding-bottom: 2px;
    background-position: 0 100%;
    text-decoration: none;
    font-size: 17px;
    color: #5A5A72;
}
.header__link:hover {
    background-size: 100% 2px;
}
.header__link.active {
    background-size: 100% 2px;
}
.header__acc {
    color: #666;
    text-decoration: none;
}
/* -------- ShopMenu -------- */
.tab {
    width: 200px;
    max-height: 60px;
    font-size: 20px;
    font-weight: 600;
    display: flex !important;
    justify-content: center !important;
}
.tab.active {
    background: none;
}
.row {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    flex-wrap: wrap;
}
/* -------- BasketGoodsCard -------- */
.cart__block {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 600px;
    max-height: 596px;
    overflow: auto;
}
/* media query */
/* HomePage */
@media (min-width: 0) and (max-width: 1200px) {
    .plate__food {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }
    .cart__form {
        width: 300px !important;
    }
    .google__map {
        width: 300px !important;
    }
}